.weatherContainer{
    background: #452f4c !important;
    color: #faf3ff;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #000000;
    padding: 0px !important;
    font-family: Calibri,Cambria,sans-serif;
    /*width: 49% !important;*/
    /*padding:12px;*/


}

.radius {
    border-radius: 15px 15px 0 0;
}

ul,li {
    list-style-type: none;
    padding: 0px;
}

.searchBox {

}
